body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttons {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px;
  margin-top: 40px;
}

button {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  border: 0;
  font-size: 24px;
  border-radius: 5px;
}

.calculator {
  margin: auto;
  width: 300px;
}

p {
  min-height: 75px;
  margin-top: 1px;
  background-color: #212f3d;
  color: white;
  font-size: 32px;
  align-content: center;
  line-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  text-align: right;
  text-overflow: clip;
  border-radius: 5px;
}

#C {
  color: #d35400;
}
